<form action="/api/product" method="POST" enctype="multipart/form-data">

    <input type="file" name="file" multiple accept="image/png, image/jpeg, image/jpg">
    <input type="text" name="name"  value="test">
    <button type="submit">Upload</button>
</form>